@media screen and(max-width: $max-width-portable) {
 
  header {
    width: 100vw;
    padding: 1% 5%;
  }
  .nav__menu {
    display: none !important;
  }
 
 
  .menu-active {
    border-bottom: none !important;
    background-color:$color;
    padding:2%;
    a{
      color:$background;
    }
   }
  .container__section {
    &__home {
      padding-top: 25%;
      padding-bottom:5%;
      // height: 70vh;
      &__description {
        width: 90%;
      }
      &__cv {
        p {
          width: 100%;
        }
      }
      &__reseau {
        margin-top: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
      }
    }
    &__projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      &__tools{
        display: flex;
      justify-content:space-between;
        width: 90%;
        p{
          @include appareanceicon($background, 25px);
          opacity: 0.5;
      }
    }
      &__container-card {
        justify-content:center;
        width: 85%;
        margin: 0% 5%;
      }
      &__card:hover h3 {
        color: $color !important;
      }
      &__card {
        width: 100%;
        height: 50%;
        background-color: $background;
        margin: 5% 0%;
        background-image: linear-gradient(
          0deg,
          rgba(8, 19, 27, 1) 0%,
          rgba(8, 19, 27, 0.8869922969187675) 83%,
          rgba(8, 19, 27, 1) 100%
        );
        text-align: center;

        &:hover {
          color: $colorGeneral !important;
          background-color: $background !important;
        }

        &__container-img {
          width: 100%;
          height: 70%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &__title {
          height: 10%;
          width: 100%;
          h3 {
            text-transform: uppercase;
            color: $color;
          }
        }
        &__description {
          width: 100%;
          height: 20%;
          p {
            font-size: 10px;
            width: 100%;
          }
        }
      }
    }
    &__skills {
      margin-top: 10%;
      background-color: $background;
      display: flex;
      flex-direction: column;
      width: 100%;

      h2 {
        color: $color !important;
      }
      &__category {
        width: 100%;
        display: flex;
        flex-wrap: column;
        text-align: center;
        justify-content: center;
        color: $colorGeneral;

        &__languages {
          padding: 3% 2%;
          width: 90%;
          display: flex;
          flex-direction: column;
          text-align: center;
          background-image: linear-gradient(
            0deg,
            rgba(8, 19, 27, 1) 0%,
            rgba(8, 19, 27, 0.8869922969187675) 83%,
            rgba(8, 19, 27, 1) 100%
          );
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.897);
          h3 {
            text-align: center;
          }

          &__progress {
            width: 100%;
            display: flex;
            flex-direction: column;
            &__percent {
              display: flex;
              justify-content: space-between;
              h4 {
                padding: 0;
                margin: 2%;
              }
            }
            &__bar {
              height: 5px;
              width: 90%;
              border-radius: 5px;
              background: rgb(182, 178, 178);
              &__dynamic {
                height: 100%;

                background-color: $color;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
    &__about {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 2% 0%;
        &__profil {
          width: 70%;
          margin: 0 auto;

          img {
            width: 70%;
            border: 3px solid $background;
          }
        }
        &__description {
          width: 96%;
          display: flex;
          flex-direction: column;
          margin: 2%;
          &__illustration {
            display: flex;
            flex-direction: column;
            width: 100%;
            div {
              display: flex;
              width: 100%;
              & p:nth-child(1) {
                width: 10%;
              }
              & p:nth-child(2) {
                width: 50%;
              }
              i {
                @include appareanceicon($color, 15px);
              }
              a {
                color: black;
              }
            }
          }
        }
      }
    }
    h2 {
      font-size: 30px !important;
    }
  }

  .toggle-menu {
    display: block;
    z-index: 1000000;

    label {
      display: block;
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
  .menu-toggle {
    width: 70%;
    display: block;
    background-image: linear-gradient(
      0deg,
      rgba(8, 19, 27, 1) 0%,
      rgba(8, 19, 27, 0.8869922969187675) 83%,
      rgba(8, 19, 27, 1) 100%
    );
    height: 100vh;
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: none;
    padding-top: 7%;
    a {
      color: $color;
    }
    transition: all linear 0.5s;
  }
}
.titre {
  text-align: center;
  width: 90%;
  position: relative;
  left: 0;
  top: 0;
  right: inherit;
  bottom: 0;
  margin: 2% auto;
}
