@mixin removechips {
    list-style: none;
} 
@mixin positionnement($display,$direction) {
    display: $display;
    flex-direction: $direction;
}
@mixin appareanceicon($color,$size) {
    color: $color;
    font-size : $size;
}
@mixin stylisationtitre{
    padding-bottom: 2%;
    border-bottom: 3px solid #00b4ff;
    font-size: 30px;
    width: 90%;
}