$coloricon:#484c4e;
$sizeicon:15px;
$max-width-screen:785px;
$max-width-portable:550px;
$colorGeneral:white;
$color: #ff7c00;
$background: #04192a;
$fontSizeParagraph: 28px;
$font-family:'roboto',sans-serif;
