.container-toggle {
  i {
    @include appareanceicon($color, 20px);
  }
  input {
    display: none;
  }
 

  cursor: pointer;
 
}


.btn__orientation {
  @include appareanceicon(blue, 25px);
  position: fixed;
  top: 90%;
  left: 93%;
  z-index: 100;
}
.btn__orientation::-webkit-scrollbar {
  position: fixed;
}


.primary {
  background-color: $color;
  border-radius: 15px;
  color: $background;
  border: 1px solid $color;
  &:hover{
    color: $color;
    background-color: transparent;
   
  }
  
}

.secondary {
  border: 1px solid $color;
  margin-left: 2%;
  color: $color;
  &:hover{
    color: $background;
    background-color: $color;
  }
}


