.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
header {
  width: 100vw;
  height: 7vh;
  color: $color;
  text-align: center;
  position: fixed;
  z-index: 1000;

  nav {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
   
  }
  .nav__logo {
    width: 30%;
    height: 100%;
    text-align: left;
    padding-left: 2%;
  }
  .nav__menu {
    width: 70%;
    height: 100%;
    @include removechips;
    text-align: right;
    display: flex;
    justify-content: space-evenly;
   text-align: center;
    p {
      width: 10%;
      height: 100%;
      text-align: center;
      justify-content: center;
      margin: 0% 2%;
   
      font-size: 16px;
      cursor: pointer;
      a {
        color: $colorGeneral;
        //  background-color:white;
        //  padding:15%;
      }
    }
  }
}
.header-scroll {
  background-color: $background;
  scroll-behavior: smooth;
}
.menu-active {
  border-bottom: 5px solid $color;
  color: $color !important;
  padding-bottom:25%;
  
}
.menu-toggle{
  display:none important;
}
.toggle-menu {
  display: none;
}

.container__section {
  width: 100%;
  @include positionnement(flex, column);
  justify-content: center;
  &__home {
    padding-top: 15%;
    padding-left: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(
        0deg,
        rgba(8, 19, 27, 1) 0%,
        rgba(8, 19, 27, 0.8869922969187675) 83%,
        rgba(8, 19, 27, 1) 100%
      ),
      url("../images/background/YpokV5ZAYT.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: left center;
    @include positionnement(flex, column);
    &__reseau {
      width: 96%;
      @include positionnement(flex, row);
      margin: 2% 0%;

      text-align: left;

      p {
        width: 10%;

        a {
          @include appareanceicon($color, 25px);
        }
        &:hover {
          transform: scale(1.03) !important;
          transition: all 0.5s linear;
        }
      }
    }
    &__identity {
      h1 {
        color: $colorGeneral;
        font-family: $font-family;
        font-weight: normal;
      }
    }
    &__description {
      width: 45%;
      font-family: $font-family;
      color: $colorGeneral;
      font-size: $fontSizeParagraph;
      font-weight: normal;
      margin: 2% 0%;
    }
    &__cv {
      width: 100%;
      margin: 3% 0%;
      display: flex;
      p {
        width: 35%;
      }
      p:hover {
        transform: scale(1.03) !important;
        transition: all 0.5s linear;
      }
    }
  }
  &__projects {
    
  
    justify-content: center;
    text-align: center;
    
    &__tools{
        display: flex;
      justify-content:space-around;
        width: 80%;
        margin:7% auto 0% auto;
        p{
            @include appareanceicon($background, 45px);
            opacity: 0.5;
        }
    }
    &__container-card {
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    &__card {
      width: 25%;
      height: 30%;
      background-color: $background;
      background-image: linear-gradient(
        0deg,
        rgba(8, 19, 27, 1) 0%,
        rgba(8, 19, 27, 0.8869922969187675) 83%,
        rgba(8, 19, 27, 1) 100%
      );
      margin: 1%;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.897);

      &__container-img {
        width: 100%;
        height: 70%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &__title {
        height: 10%;
        width: 100%;
        h3 {
          text-transform: uppercase;
          color: $color;
        }
      }
      &__description {
        height: 20%;
        p {
          color: $colorGeneral;
          width: 100%;
        }
      }
    }
  }
  &__skills {
    padding-top: 5%;
    background-color: $background;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5%;

    h2 {
      color: $color !important;
    }
    &__category {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: $colorGeneral;

      &__languages {
        padding: 3% 2%;
        width: 47%;
        display: flex;
        flex-direction: column;
        margin: 1% 0.5%;
        background-image: linear-gradient(
          0deg,
          rgba(8, 19, 27, 1) 0%,
          rgba(8, 19, 27, 0.8869922969187675) 83%,
          rgba(8, 19, 27, 1) 100%
        );
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.897);
        h3 {
          text-align: center;
        }

        &__progress {
          width: 100%;
          display: flex;
          flex-direction: column;
          &__percent {
            display: flex;
            justify-content: space-between;
            h4 {
              padding: 0;
              margin: 2%;
            }
          }
          &__bar {
            height: 5px;
            width: 90%;
            border-radius: 5px;
            background-color: $background;
           position: relative;
            &__dynamic {
             height: 5px;
              background-color: $color;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  &__about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__information {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 2% 0%;
      &__profil {
        width: 40%;

        img {
          width: 70%;
          border: 3px solid $background;
        }
      }
      &__description {
        width: 50%;
        display: flex;
        flex-direction: column;
        &__cv {
            width: 100%;
            margin: 3% 0%;
            display: flex;
            p {
              width: 35%;
            }
            p:hover {
              transform: scale(1.03) !important;
              transition: all 0.5s linear;
            }
          }
        &__illustration {
          display: flex;
          flex-direction: column;
          width: 100%;
          div {
            display: flex;
            width: 100%;
            & p:nth-child(1) {
              width: 10%;
            }
            & p:nth-child(2) {
              width: 50%;
            }
            i {
              @include appareanceicon($color, 25px);
            }
            a {
              color: black;
            }
          }
        }
      }
    }
  }
}
.titre {
  text-align: center;
  width: 15%;
  position: relative;
  left: 0;
  top: 0;
  right: inherit;
  bottom: 0;
  margin: 0% auto;

  .soulignement {
    width: 0%;
    background-color: $color;
    height: 3px;
  }
  h2 {
    font-family: $font-family;
    color: $background;
    font-weight: normal;
    font-size: 45px;
  }
  // h2:hover .soulignement{
  //     animation:soulignementanimation 2s;
  // }
}
@keyframes soulignementanimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
